# Extension-less files (just build using the accompanying Makefile!)
*
!/**/
!*.*
!*file

# Build files as a result of make
**/*.o
**/*.d
**/build/

# Swap files from Vim
**/*.swp

# doxygen output in each challenge (Doxyfile will be provided for you. Generate it, yourself!)
**/doxygen/
